body {
  text-align: center;
  font-family: fantasy;
  font-size: 25px;
}

h1 {
  margin-bottom: 5px;
}

img {
  border-radius: 3%;
}

h2 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 1px;
}

p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 1px;
}

/* button {
  font-size: 25px;
  font-family: fantasy;
  border-radius: 5%;
  color: white;
  background-color: magenta;
} */

span {
  padding: 0 10px;
}

.responsive {
  width: 80%;
  height: auto;
}
